<div class="popup-window">
  <div class="popup-background"></div>
  <div class="popup-box">
    <div class="popup-content">
      <% flash.each do |message_type, message| %>
        <div><%= message %></div>
      <% end %>
      <%= link_to items_path(month: Time.now.month) do%>
        <label for="popup-switch" class="popup-close">
          <p>編集ページに戻る</p>
        </label>
      <% end %>
    </div>
  </div>
</div>