@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  a {
    color: #fff;
  }
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.btn {
  width: 100%;
}

header {
  background-color: #374e93;
  color: #fff;
  padding: 20px;
}

footer {
  background-color: #374e93;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}