@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

h1 a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #1190b7;
}

.title {
  margin:40px 0 40px 0;
}

form {
  margin-top: 40px;
  margin: 0 auto;
  width: 60%;
  color: gray;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  box-shadow: none;
}

.profile {
  margin-top: 36px;
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #000;
  }
}

.chart {
  margin-top: 36px;
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #000;
    width: 300px;
    margin: 24px auto; 
  }
}

.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.user-profile {
  padding: 12px 0;
}

.profile_text {
  border-bottom: 1px solid #000;
  resize: none;
  overflow: hidden;
}

.image {
  label {
    margin-top: 24px;
  }
  .form-control {
    margin-bottom: 36px;
    border: none;
  }
}

form .btn {
  margin: 20px auto;
  display: block;
  width: 50%;
}

header {
  background-color: #374e93;
  color: #fff;
}

.header h1 {
  text-align: left;
  margin-left: 0;
}

header .btn {
  background-color: #fff;
  color: #333;
  width: 100px;
  margin: 18px 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-image {
  margin: 12px;
}
footer {
  text-align: center;
  background-color: #374e93;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}