@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

h1 a {
  color: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #1190b7;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  box-shadow: none;
}

form .btn {
  margin: 0 auto;
  display: block;
  width: 50%;
}

header {
  background-color: #374e93;
  color: #fff;
}

.header h1 {
  text-align: left;
  margin-left: 0;
}

header .btn {
  background-color: #fff;
  color: #333;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

main .container {
  width: 50%;
}

footer {
  background-color: #374e93;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}