<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if logged_in? %>
          <p><%= "#{current_user.name}'s portfolio site" %></p>
        <% end %>
      </div>
    </div>
  </div>
</footer>
