<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to " My Portfolio", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li>
          <%= button_to "ログアウト", logout_path, data: { "turbo-method": :delete }, class: "btn btn-primary" %>
        </li>
      <% else %>
        <li><%= button_to "ログイン", root_path, class: "btn btn-primary" %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>